h1{
    text-align: center;
    font-size: 50px;
    color: rgb(2, 140, 153);
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.card{
    border: 2px solid lawngreen;
}
.img{
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: auto;

}

.photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.center-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.photo{
    height: 100%;
    animation: rotation 60s linear infinite;
}
@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}
.photo img:nth-child(1){
    top: -20px;
    left: 45%;
}
.photo img:nth-child(2){
    top: 20%;
    right: 5px;
}
.photo img:nth-child(3){
    top: 65%;
    right: 0;
}
.photo img:nth-child(4){
    bottom: -5%;
    right: 45%;
}
.photo img:nth-child(5){
    top: 60%;
    left: -4%;
}
.photo img:nth-child(6){
    top: 17%;
    left: 0%;
}
/* =========section tow ========= */
.wrapper{
    height: 350px;
    width: 350px;
    position: relative;
}
.loding{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* border: 3px solid gray; */
}
.loding::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid transparent;
    border-top: 3px solid brown;
    border-right: 3px solid brown;
    border-radius: 50%;
    animation: amimate 2s linear infinite;
}
@keyframes amimate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
span{
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    display: block;
    height: 5px;
    width: 50%;
    background-color: transparent;
    transform-origin: left;
    animation: anim 2s linear infinite;
}
span::before{
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    bottom: -77px;
    left: 67px;
    
}
@keyframes anim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}